@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Open Sans as the default font for the body */
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Other styles and customizations */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-shadow-xl {
  filter: drop-shadow(0px 4px 10px rgba(97, 3, 248, 0.914)); /* Change the color/opacity here */
}
